*,
*::before,
*::after,
*:hover {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: calc(16px + 4 * ((100vw - 320px) / 1600));
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-height: 100%;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h2 {
  font-weight: 400;
  font-size: calc(30px + 10 * ((100vw - 320px) / 1600));
}

h3 {
  font-weight: 400;
  font-size: calc(20px + 10 * ((100vw - 320px) / 1600));
  color: #000;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  min-width: 100%;
  margin: 0 auto;
}

body._lock {
  overflow: hidden;
}

.header__container {
  width: 1760px;
  max-width: 100%;
  padding: 0 20px;
  margin-top: calc(20px + 40 * ((100vw - 320px) / 1600));
  margin-bottom: calc(0px + 60 * ((100vw - 320px) / 1600));
  margin-left: auto;
  margin-right: auto;
}

.header__title {
  position: relative;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100%;
}

.title__icon {
  display: none;
}

.title__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.title__navbar li:nth-child(2):hover .dropdown__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.title__navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

.title__navbar li {
  margin-right: calc(0px + 80 * ((100vw - 320px) / 1600));
}

.title__navbar li:last-child {
  margin-right: 0;
}

.title__navbar a {
  color: #c3b9b5;
  font-size: calc(14px + 6 * ((100vw - 320px) / 1600));
}

.title__navbar a:hover {
  color: #FFC59E;
}

.title__city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-size: calc(14px + 6 * ((100vw - 320px) / 1600));
}

.title__city img {
  max-width: 100%;
}

.title__link {
  color: #FFC59E;
}

.title__link:hover {
  color: #59443F;
}

.title__navbar-sub {
  display: none;
}

.main__slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  max-width: 1760px;
  margin: 0 auto;
  padding: 0 20px;
  margin-top: calc(30px + 70 * ((100vw - 320px) / 1600));
  position: relative;
  min-height: calc(280px + (800 - 280) * ((100vw - 320px) / (1920 - 320)));
}

.main__list {
  margin-left: calc(0px + 20 * ((100vw - 320px) / 1600));
}

.main__list-link {
  margin-bottom: calc(20px + 50 * ((100vw - 320px) / 1600));
  width: calc(20px + (40 - 20) * ((100vw - 320px) / (1920 - 320)));
  height: calc(20px + (40 - 20) * ((100vw - 320px) / (1920 - 320)));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (1920 - 320)));
}

.main__list-link:last-child {
  margin-bottom: 0;
}

.main__list-link.active {
  background-image: url(/img/icons/process.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.main__blocks {
  padding-left: calc(40px + 310 * ((100vw - 320px) / 1600));
  width: 100%;
  position: absolute;
  height: 100%;
  visibility: hidden;
  opacity: 0;
}

.main__blocks:nth-last-child(1) .block__img {
  left: calc(80px + 870 * ((100vw - 320px) / 1600));
  bottom: calc(70px + 110 * ((100vw - 320px) / 1600));
}

.main__blocks:nth-last-child(2) .block__img {
  left: calc(80px + 770 * ((100vw - 320px) / 1600));
  bottom: calc(20px + 10 * ((100vw - 320px) / 1600));
}

.main__blocks:nth-last-child(3) .block__img {
  left: calc(100px + 750 * ((100vw - 320px) / 1600));
  bottom: calc(40px + 60 * ((100vw - 320px) / 1600));
}

.main__blocks:nth-last-child(4) .block__img {
  left: calc(140px + 710 * ((100vw - 320px) / 1600));
  width: 35%;
}

.main__blocks:nth-last-child(5) .block__img {
  left: calc(100px + 600 * ((100vw - 320px) / 1600));
}

.block__inner {
  position: absolute;
}

.block__title {
  font-weight: 400;
  font-size: calc(30px + (80 - 30) * ((100vw - 320px) / (1920 - 320)));
  margin-bottom: calc(30px + (75 - 30) * ((100vw - 320px) / (1920 - 320)));
}

.block__btn {
  padding: calc(15px + (24 - 15) * ((100vw - 320px) / (1920 - 320))) calc(30px + (77 - 30) * ((100vw - 320px) / (1920 - 320)));
  background-color: #FFC59E;
  color: #fff;
  text-transform: uppercase;
  font-size: calc(13px + (20 - 13) * ((100vw - 320px) / (1920 - 320)));
  border-radius: calc(15px + (33.5 - 15) * ((100vw - 320px) / (1920 - 320)));
  -webkit-box-shadow: 0px 4px 20px #FFC59E;
          box-shadow: 0px 4px 20px #FFC59E;
}

.block__btn:hover {
  background-color: #59443F;
  -webkit-box-shadow: 0px 4px 20px #59443F;
          box-shadow: 0px 4px 20px #59443F;
}

.block__social {
  margin-top: calc(40px + (220 - 40) * ((100vw - 320px) / (1920 - 320)));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block__links {
  margin-right: calc(0px + 900 * ((100vw - 320px) / 1600));
}

.block__link {
  margin-right: calc(5px + (50 - 5) * ((100vw - 320px) / (1920 - 320)));
}

.block__link:last-child {
  margin-right: 0;
}

.block__phone {
  color: #000;
  font-size: calc(15px + (24 - 15) * ((100vw - 320px) / (1920 - 320)));
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 700;
  z-index: 1;
}

.block__img {
  left: calc(130px + 820 * ((100vw - 320px) / 1600));
  bottom: calc(0px + 0 * ((100vw - 320px) / 1600));
  position: absolute;
  z-index: -1;
  width: 50%;
}

.block__phone {
  font-size: calc(14px + 6 * ((100vw - 320px) / 1600));
}

.cards__container {
  max-width: 1350px;
  margin: calc(40px + (150 - 40) * ((100vw - 320px) / (1920 - 320))) auto;
  padding: 0 20px;
}

.cards__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.cards__link {
  position: relative;
  display: block;
  height: calc(100px + 120 * ((100vw - 320px) / 1600));
  background: #FFFFFF;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: calc(13px + 7 * ((100vw - 320px) / 1600));
  color: #59443F;
}

.cards__items {
  padding: calc(10px + 14 * ((100vw - 320px) / 1600));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.cards__items svg {
  position: absolute;
  right: 0;
  bottom: 0;
  fill: #FFC59E;
  margin: calc(10px + 14 * ((100vw - 320px) / 1600));
  width: calc(40px + 70 * ((100vw - 320px) / 1600));
  height: calc(40px + 70 * ((100vw - 320px) / 1600));
}

.cards__items:hover svg {
  fill: #59443F;
}

.cards__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about {
  background-color: #FBF8F8;
  padding-top: calc(50px + 140 * ((100vw - 320px) / 1600));
  padding-bottom: calc(50px + 140 * ((100vw - 320px) / 1600));
}

.about__container {
  max-width: 1260px;
  margin: 0 auto;
  padding: calc(10px + 5 * ((100vw - 320px) / 1600));
}

.about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__history {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 480px;
  margin: 0 auto;
}

.about__history h2 {
  margin-bottom: calc(20px + 30 * ((100vw - 320px) / 1600));
}

.about__history a {
  margin-top: calc(15px + 21 * ((100vw - 320px) / 1600));
  text-transform: uppercase;
  color: #FFC59E;
  font-weight: 700;
}

.about__history svg {
  fill: #FFC59E;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  stroke: #FFC59E;
  margin-left: 10px;
}

.about__expert {
  margin-top: calc(50px + 50 * ((100vw - 320px) / 1600));
  width: 100%;
  text-align: center;
  position: relative;
}

.about__expert h2 {
  margin-bottom: calc(20px + 30 * ((100vw - 320px) / 1600));
}

.about-slider {
  max-width: 1150px;
  height: 100%;
}

.about-slider__slide img {
  max-width: 100%;
}

.about .swiper-button-prev::after,
.about .swiper-button-next::after {
  color: #fff;
  font-size: 25px;
  padding: 14px 20px;
  border-radius: 50%;
  background-color: #FFC59E;
  -webkit-box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.about .swiper-button-prev,
.about .swiper-button-next {
  top: 65%;
}

.about .swiper-button-prev {
  left: -10px;
}

.about .swiper-button-next {
  right: -10px;
}

.counter__container {
  max-width: 800px;
  margin: 0 auto;
  padding-top: calc(70px + 250 * ((100vw - 320px) / 1600));
  padding-bottom: calc(100px + 220 * ((100vw - 320px) / 1600));
}

.counter__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding: 10px;
}

.counter__body span {
  font-weight: 700;
  font-size: calc(60px + 84 * ((100vw - 320px) / 1600));
  color: #59443F;
}

.counter__body p {
  font-weight: 400;
  font-size: calc(40px + 40 * ((100vw - 320px) / 1600));
  color: #000;
}

.counter__body img {
  position: absolute;
  right: calc(-20px + 120 * ((100vw - 320px) / 1600));
  bottom: calc(-80px + -80 * ((100vw - 320px) / 1600));
  z-index: -1;
  max-width: 100%;
}

.benefits__container {
  max-width: 1640px;
  margin: 0 auto;
  margin-top: calc(40px + 60 * ((100vw - 320px) / 1600));
  margin-bottom: calc(40px + 260 * ((100vw - 320px) / 1600));
}

.benefits__body {
  padding: 15px;
}

.benefits__body h2 {
  text-align: center;
}

.benefits__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  margin-top: calc(60px + 45 * ((100vw - 320px) / 1600));
}

.benefits__items-item {
  max-width: 100%;
  width: calc(290px + 170 * ((100vw - 320px) / 1600));
  margin-bottom: calc(30px + 40 * ((100vw - 320px) / 1600));
  max-height: 100%;
}

.benefits__items-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  left: 20px;
  margin-top: calc(20px + 16 * ((100vw - 320px) / 1600));
  max-height: 100%;
  width: 100%;
}

.benefits__items-text {
  color: #59443F;
  font-weight: 400;
  line-height: calc(20px + 10 * ((100vw - 320px) / 1600));
  max-width: 100%;
  line-height: calc(20px + 10 * ((100vw - 320px) / 1600));
}

.benefits__items-svg {
  margin-right: calc(20px + 30 * ((100vw - 320px) / 1600));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: calc(60px + 40 * ((100vw - 320px) / 1600));
  width: 100%;
}

.benefits__items-svg img {
  max-width: 100%;
}

.app {
  background-color: #FFC59E;
}

.app__container {
  max-width: 1410px;
  padding: 0 20px;
  margin: 0 auto;
}

.app__wrapper {
  padding-top: calc(60px + 200 * ((100vw - 320px) / 1600));
  padding-bottom: calc(60px + 290 * ((100vw - 320px) / 1600));
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.app__text {
  color: #fff;
}

.app__text-soon {
  text-transform: uppercase;
  margin-bottom: calc(20px + 10 * ((100vw - 320px) / 1600));
}

.app__text-title {
  font-size: calc(50px + 30 * ((100vw - 320px) / 1600));
  line-height: calc(40px + 30 * ((100vw - 320px) / 1600));
  margin-bottom: calc(30px + 10 * ((100vw - 320px) / 1600));
}

.app__text-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.app__text-btn-appstore {
  margin-right: 25px;
}

.app__img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.app__img-phone {
  position: absolute;
  right: 0;
  bottom: calc(0px + -200 * ((100vw - 320px) / 1600));
  z-index: 1;
}

.app__img-phone img {
  max-width: calc(100px + 230 * ((100vw - 320px) / 1600));
  width: 100%;
}

.app__img-dog {
  position: absolute;
  right: calc(0px + 200 * ((100vw - 320px) / 1600));
  bottom: calc(0px + -200 * ((100vw - 320px) / 1600));
}

.app__img-dog img {
  max-width: calc(200px + 293 * ((100vw - 320px) / 1600));
  width: 100%;
}

.contact__container {
  max-width: 1510px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.contact__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: calc(60px + 180 * ((100vw - 320px) / 1600));
  padding-bottom: calc(60px + 150 * ((100vw - 320px) / 1600));
}

.contact__text-title {
  margin-bottom: calc(30px + 40 * ((100vw - 320px) / 1600));
}

.contact__text-sub-title {
  margin-bottom: 20px;
}

.contact__text-sub-subtitle span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 20px;
}

.contact__text-sub-subtitle span img {
  margin-right: 33px;
}

.contact__map {
  margin: 0 auto;
}

.contact__map iframe {
  max-width: 100%;
}

footer {
  background-color: #59443F;
}

.footer__container {
  max-width: 1490px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.footer__wrapper {
  padding-bottom: calc(40px + 20 * ((100vw - 320px) / 1600));
  padding-top: calc(40px + 40 * ((100vw - 320px) / 1600));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.footer__title-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.footer__title-logo h2 {
  font-size: calc(30px + 20 * ((100vw - 320px) / 1600));
}

.footer__title-logo-svg {
  fill: #fff;
  margin-right: calc(15px + 7 * ((100vw - 320px) / 1600));
}

.footer__title-logo-svg svg {
  width: calc(60px + 30 * ((100vw - 320px) / 1600));
  height: auto;
}

.footer__title-logo:hover,
.footer__title-logo:hover svg {
  color: #FFC59E;
  fill: #FFC59E;
}

.footer__title-apps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 10px;
  width: 310px;
  max-width: 100%;
}

.footer__title-apps-appstore {
  margin-right: calc(10px + 5 * ((100vw - 320px) / 1600));
}

.footer__title-apps-appstore img {
  max-width: 100%;
}

.footer__title-apps-googleplay img {
  max-width: 100%;
}

.footer__sub {
  margin-left: calc(0px + 112 * ((100vw - 320px) / 1600));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: calc(15px + 15 * ((100vw - 320px) / 1600));
  line-height: calc(25px + 5 * ((100vw - 320px) / 1600));
}

.footer__sub a {
  color: #fff;
}

.footer__sub a:hover {
  color: #FFC59E;
}

.footer__sub-policy {
  font-size: calc(13px + 7 * ((100vw - 320px) / 1600));
}

.footer__sub-links-social a {
  margin-right: calc(5px + (50 - 5) * ((100vw - 320px) / (1920 - 320)));
  margin-right: calc(0px + 45 * ((100vw - 320px) / 1600));
}

.footer__sub-links-social a:last-child {
  margin-right: 0;
}

.footer__sub-links-social .social__svg {
  fill: #fff;
}

.footer__sub-links-social .social__svg:hover {
  fill: #FFC59E;
}

.footer__sub-links-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: calc(15px + 15 * ((100vw - 320px) / 1600));
  line-height: calc(20px + 10 * ((100vw - 320px) / 1600));
}

.footer__sub-links-text {
  color: #fff;
  margin-top: calc(30px + 40 * ((100vw - 320px) / 1600));
}

.footer__sub-policy, .footer__sub-navbar, .footer__sub-contact {
  padding-top: calc(15px + 15 * ((100vw - 320px) / 1600));
}

.dropdown {
  position: relative;
}

.dropdown__content {
  display: none;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  min-width: 300px;
  min-height: 230px;
  z-index: 1;
  background: #FFFFFF;
  -webkit-box-shadow: 2px 2px 20px rgba(155, 82, 50, 0.1);
          box-shadow: 2px 2px 20px rgba(155, 82, 50, 0.1);
  border-radius: 20px;
}

.dropdown__content a {
  color: #080606;
  padding-left: 50px;
}

.dropdown__content a:hover {
  color: #FFC59E;
}

.dropdown__content a:nth-child(1) {
  margin-top: 40px;
  margin-bottom: 30px;
}

.dropdown__content a:nth-child(2) {
  margin-bottom: 30px;
}

.dropdown__content a:nth-child(3) {
  margin-bottom: 40px;
}

.social__svg {
  fill: #C3B9B5;
  width: calc(25px + 15 * ((100vw - 320px) / 1600));
}

.social__svg:hover {
  fill: #59443F;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(8, 6, 6, 0.5);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
}

.popup.open {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 15px;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.popup__content {
  background-color: #fff;
  color: #000;
  border-radius: 20px;
  max-width: 400px;
  width: 100%;
  padding: 50px 0;
  position: relative;
  -webkit-transition: all 0.8s ease 0;
  -o-transition: all 0.8s ease 0;
  transition: all 0.8s ease 0;
}

.popup__close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.popup__title {
  text-align: center;
  margin-bottom: 40px;
  padding-top: calc(20px + 30 * ((100vw - 320px) / 1600));
}

.popup__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  cursor: pointer;
}

.popup__text a:first-child {
  padding-bottom: 30px;
}

.popup__text a:hover {
  color: #FFC59E;
}

.active {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.swiper-pagination {
  visibility: hidden;
  opacity: 0;
}

@media screen and (max-width: 1180px) {
  .benefits__items {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  .benefits__items-body {
    left: 0;
  }
  .benefits__items-title {
    text-align: center;
  }
}

@media screen and (max-width: 950px) {
  .title__icon {
    z-index: 5;
    display: block;
    position: absolute;
    width: 30px;
    height: 18px;
    cursor: pointer;
    right: 0;
    top: 40%;
    margin-left: 15px;
  }
  .title__icon span, .title__icon::before, .title__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #929090;
  }
  .title__icon::before, .title__icon::after {
    content: "";
  }
  .title__icon::before {
    top: 0;
  }
  .title__icon::after {
    bottom: 0;
  }
  .title__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
        -ms-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .title__icon._active {
    z-index: 2;
    top: 20px;
  }
  .title__icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
        -ms-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }
  .title__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
        -ms-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }
  .title__icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
        -ms-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }
  .title__navbar {
    visibility: hidden;
    opacity: 0;
    display: none;
  }
  .title__city {
    margin-right: 200px;
    margin-right: calc(70px + 130 * ((100vw - 320px) / 1600));
  }
  .title__navbar-sub._active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100%;
    min-width: 100%;
    background: rgba(8, 6, 6, 0.8);
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    -webkit-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
  }
  .title__navbar-sub._active ul {
    margin-top: 20px;
    margin-left: calc(20px + 10 * ((100vw - 320px) / 1600));
  }
  .title__navbar-sub._active li {
    margin-bottom: 15px;
  }
  .title__navbar-sub._active a {
    color: #fff;
    text-transform: uppercase;
    font-size: 2rem;
  }
  .footer__sub {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .footer__sub-contact {
    padding-top: 0;
  }
  .footer__sub-contact, .footer__sub-links {
    padding-top: 30px;
  }
}

@media screen and (max-width: 710px) {
  .benefits__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .app__text-btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .app__text {
    width: 100%;
  }
}

@media screen and (max-width: 620px) {
  .block__social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .block__links {
    margin-bottom: calc(15px + 15 * ((100vw - 320px) / 1600));
  }
  .cards__body {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .swiper-pagination {
    visibility: visible;
    opacity: 1;
  }
  .swiper-button-prev,
  .swiper-button-next {
    visibility: hidden;
    opacity: 0;
  }
  .about__expert {
    height: 280px;
  }
  .contact__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__title-apps {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__title-apps-appstore {
    margin-right: 0;
  }
}

@media screen and (max-width: 425px) {
  .block__img {
    width: 70%;
  }
  .block:nth-last-child(4) {
    width: 120%;
  }
  .title__logo img {
    width: 60%;
  }
  .about__expert {
    height: 270px;
  }
  .counter__wrapper img {
    max-width: 50%;
  }
  .app__img-dog {
    position: relative;
    bottom: calc(-40px + 1040 * ((100vw - 320px) / 1600));
    right: 0;
  }
  .app__text {
    width: 200%;
  }
  .footer__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__title-apps {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (max-width: 375px) {
  .about__expert {
    height: 250px;
  }
}

@media screen and (max-width: 320px) {
  .about__expert {
    height: 230px;
  }
}
