$orange:  #FFC59E;
$brown: #59443F;

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul li{
	list-style-type: none;
}
.container{
	max-width: 1400px;
	margin: 0 auto;
	display: flex;
	flex: 1 1 auto;
}
.main{
	&__inner{
		display: flex;
		flex-direction: column;
	}
	&__navbar{
		display: flex;
		justify-content: space-between;
	}
	&__list{
		display: flex;
		flex-direction: column;
	}
	&__content{
		display:flex;
	}
}
.block {
	opacity: 0;
	transition: .5s;
 }

 .list {
	display: flex;
	align-items:center;
	justify-content: center;
	transition: .5s;
	min-width: 40px;
	min-height: 40px;
	margin-bottom: 70px;
 }
 .list:last-child{
	 margin-bottom: 0;
 }
 .list.active{
	background: url('/img/icons/process.svg') center no-repeat;
 }
 .active {
	opacity: 1;
 }


